@model SMS.Model.EmailTemplate
@using SMS.Model;
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/inc/font-awesome/css/font-awesome.min.css")" />

@{
    string formCode = AuthorizeFormAccess.FormAccessCode.EMAILTEMPLATE.ToString();
    if (Model.Id > 0)
    {
        ViewBag.Title = "Edit Email Template";
    }
    else
    {
        ViewBag.Title = "Add Email Template";
    }

}



@using (Html.BeginForm("Create", "EmailTemplate"))
{
    @Html.AntiForgeryToken()

    
        <!--This is Title div -->
        <div class="subheader">
            <div class="left_title">
                @if (Model.Id > 0)
                {
                    <h2>Edit Email Template</h2>
                }
                else
                {
                    <h2>Add Email Template</h2>
                }
                <div class="left breadcrumb_list">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a></li>
                        <li><a href="@Url.Action("Index", "EmailTemplate")">Email Template</a></li>


                        @if (Model.Id > 0)
                        {
                            <li>Edit Email Template</li>
                        }
                        else
                        {
                            <li>Add Email Template</li>
                        }


                    </ul>
                </div>
            </div>
        </div>

        <!--END Title div-->
        @Html.HiddenFor(model => model.Id)
        <div class="content_box">
            <div class="common_white_box">
                <div class="form_element">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form_input_box">
                                <div class="form-group">
                                    <label>Template Code <sup class="span_req"><i class="fa fa-star" aria-hidden="true"></i></sup></label>
                                    <div class="input_box">
                                        @if (Model.Id > 0)
                                        {
                                            @Html.TextBoxFor(model => model.TemplateCode, new { @class = "form-control", @maxlength = 50, @readonly = "readonly" })
                                        }
                                        else
                                        {
                                            @Html.TextBoxFor(model => model.TemplateCode, new { @class = "form-control", @maxlength = 50, @style = "text-transform:uppercase" })
                                        }
                                        @Html.ValidationMessageFor(model => model.TemplateCode)
                                    </div>

                                </div>
                            </div>
                            <div class="form_input_box">
                                <div class="form-group">
                                    <label>Name <sup class="span_req"><i class="fa fa-star" aria-hidden="true"></i></sup></label>
                                    <div class="input_box">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>
                            </div>
                            <div class="form_input_box">
                                <div class="form-group">
                                    <label for="">CC</label>
                                    <div class="input_box">
                                        @Html.TextBoxFor(model => model.CC, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CC)
                                    </div>
                                </div>
                            </div>
                            <div class="form_input_box">
                                <div class="form-group">
                                    <label for="">BCC</label>
                                    <div class="input_box">
                                        @Html.TextBoxFor(model => model.BCC, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BCC)
                                    </div>
                                </div>
                            </div>

                            <div class="form_input_box">
                                <div class="form-group">
                                    <label for="">Subject</label>
                                    <div class="input_box">
                                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Subject)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form_input_box">
                                <div class="form-group">
                                    <label for="">Mail Body <sup class="span_req"><i class="fa fa-star" aria-hidden="true"></i></sup></label>
                                    <div class="input_box">
                                        @Html.TextAreaFor(model => model.MailBody, new { name = "MailBody", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MailBody)
                                    </div>
                                </div>
                            </div>

                            <div class="form_input_box">
                                <div class="form-group">
                                    <label for="">Is Active</label>
                                    <div class="input_box">
                                        <div class="on_off_btn sms_not">
                                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "ch_btn" })
                                            <i></i>
                                            <span class="span_yes">Yes</span>
                                            <span class="span_no">No</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                        <div class="button_div">
                            <div class="form-group">
                                <label for="">&nbsp;</label>
                                <div class="input_box">
                                    <button type="submit" class="button button_primary">Save</button>
                                    <a href="@Url.Action("Index", "EmailTemplate")" class="button button_cancel">Cancel</a>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    @*</div>*@
}

@section scripts
{
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('MailBody');
        });
    </script>

}



