@model SMS.Model.LoginModel

@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Success"] != null)
{
    <label class="bg-success text-white alertmsg">@TempData["Success"]</label>
}

<!DOCTYPE html>
<html lang="en">
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="login-from">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h1 style="margin-left:140px; font-family:Georgia">@ViewBag.Title</h1>
        <hr />
        <div class="form-group">
            <label class="label-title" style="margin-left:-24px;  ">User Name :</label>
            <div class="col-md-2" style="margin-right: 50px; margin-left: -10px;width:70%">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" style="padding:2px">
            <label class="label-title" style="margin-left:-30px; ">Password :</label>
            <div class="col-md-2" style="margin-right:50px; margin-left:-10px; width:70%">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <a href="@Url.Action("ForgotPassword", "Account")" style="margin-left:190px; margin-right:-169px"><label>Forgot Password?</label></a>
            <div class="col-md-offset-1 col-md-2" style="margin-right:-160px; margin-left:-45px; ">
                <input type="submit" value="Login" class="btn btn-primary" style="width:200%" />
            </div>
        </div>
        @if (TempData["Error"] != null)
        {
            <label class="bg-error text-white alertmsg">@TempData["Error"]</label>
        }

    </div>

    }
    <script src="Content/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            var successElement = $(".alertmsg");
            if (successElement) {
                setTimeout(function () { successElement.hide(); }, 2000);
            }
        });
    </script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
