@model SMS.Model.User

@{
    ViewBag.Title = "Sign Up";
}
<!DOCTYPE html>
<html lang="en">
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="login-from">
        @if (TempData["Message"] != null)
        {
            <label class="bg-success text-white alertmsg"> @TempData["Message"]</label>
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h1 style="margin-left:140px; font-family:Georgia">@ViewBag.Title</h1>
        <hr />
        <div class="form-group">
            <label class="label-title" style="margin-left:-39px">Email Id :</label>
            <div class="col-md-2" style="margin-right:40px; margin-left:-10px; width:59%">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style="margin:20px">
            <label class="label-title" style="margin-left:-30px">User Name :</label>
            <div class="col-md-2" style="margin-right: 50px; margin-left:-10px;width:80%">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin:20px">
            <label class="label-title" style="margin-left:-30px">Password :</label>
            <div class="col-md-2" style="margin-right: 50px; margin-left: -10px;width:80%">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin:20px">
            <label class="label-title" style="margin-left:-50px; margin-right:-50px">Confirm Password :</label>
            <div class="col-md-2" style="margin-right: 50px; margin-left: 35px; width:70%">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <a href="@Url.Action("Index", "Home")" class="btn btn-success" style="margin-left:200px; margin-right:-200px">Login</a>
            <div class="col-md-offset-1 col-md-2" style="margin-right:200px; margin-left:50px">
                <input type="submit" value="SignUp" class="btn btn-primary" />
            </div>
        </div>

    </div>
     
    }

    <script src="Content/bootstrap.bundle.min.js">

    </script>
    <script>
        var message = $('#Message').text();
        if (message != '') {
            toastr.success(message);
        }

        $(document).ready(function () {
            var successElement = $(".alertmsg");
            if (successElement) {
                setTimeout(function () { successElement.hide(); }, 5000);
            }
        });
    </script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
